{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [ 2, { "ignore": ["^(app|client|server)\/.*"]}],
    "react/jsx-filename-extension": 0
  },
  "env": {
    "jest": true,
    "browser": "true"
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
