@import 'body.scss';
$background-image: url('./cat.png.datauri');

body {
  background-image: $background-image;
  font-family: Roboto, sans-serif;
}

body > div {
  background: $background-color;
  border-left: 5px solid darken($background-color, 25%);
  border-right: 5px solid darken($background-color, 25%);
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

hr {
  border: none;
  border-bottom: 5px solid darken($background-color, 25%);
}

a {
  color: $primary-color;
}

h1,
h2 {
  font-weight: 200;
}

h1 {
  font-family: Merriweather, serif;
}
